.button {
	visibility: hidden;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 200px;
	margin-right: auto;
	margin-left: auto;
}
.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
