.button {
	visibility: hidden;
}
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 150px;
	margin-right: auto;
	margin-left: auto;
}
.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.square {
	width: 200px;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.trapezoid {
	width: 150px;
	height: 100px;
	margin-top: 10px;
	transform: skew(20deg);
	margin-bottom: 10px;
}
.randomColor {
	background-color: #008cba;
	color: aliceblue;
	margin: 5px;
	padding: 5px;
}
